body{
    margin: 0px;
    padding: 0px;
    font-family:x;
    font-size: 16px;
}
a{
    text-decoration: none;
}
p{
    margin: 0rem;
}
h5{
    margin: 0rem;
}
@font-face {
    font-family:x;
    src: url(../fonts/robotobold.woff2);
    src: url(../fonts/iranyekanwebbold.woff2);
    src: url(../fonts/robotoregular.woff2);
    src: url(../fonts/robotobold.woff2);
    src: url(../fonts/Anjoman-FaNum-Bold.woff2);
}
.before-header{
    text-align: center;
    background-color:#BF1764 ;
    color: white;
    font-family:x;
    font-size: 1rem;
    margin: 00px;
}
header{
    position: sticky;
    top: 0rem;
    z-index: 1;
    background-color: white;
    box-shadow:  1px  1px 3px;
}
header li{
    list-style-type: none;

}
.logo-row{
    box-sizing: border-box;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.31rem 0.75rem;
}
.right-side-of-logo{
    flex: 2;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.center-div{
    flex: 1;
    display: flex;
    justify-content: center;
}
.left-side-of-logo{
    flex: 2;
}
.center-div img{
    width: 6.25rem;
    height: 6.25rem;
}
.logo-row-login-button{
    color: white;
    background-color: green;
    text-decoration: none;
    padding: 0.1rem 0.4rem;
    border-radius: 0.9rem;
}
.logo-row-search{
    display: flex;
    align-items: center;
    background-color: green;
    margin-right: 0.5rem;
    color: white;
    text-decoration: none;
    padding: 0.1rem 0.1rem;
    border-radius: 0.9rem;
}
.left-side-of-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left-side-of-logo a{
    text-decoration: none;
}
.purchase-cart{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.1rem 0.5rem;
    border-radius: 0.9rem;
    color: white;
    background-color: green;
}
.purchase-cart img{
    mix-blend-mode: color-burn;
}
.purchase-cart p{
    margin: 0px;
}
.logo-row-heart{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.2rem 0.2rem;
    border-radius: 0.9rem;
    color: white;
    background-color: green;
    margin-left: 0.5rem;
}
.category-row{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0rem;
}
.category-row p{
    display: inline-block;
}
.category-row a{
    text-decoration: none;

}
.category-row-bike{
    position: relative;
    color: grey;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    direction: lte;
}
.category-row-clothes{
    position: relative;
    color: grey;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.category-row-equipments{
    position: relative;
    color: grey;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.category-row-pieces{
    position: relative;
    color: grey;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.category-row-fixing-stuff{
    position: relative;
    color: grey;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.akband , .articles {
    color: grey;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.category-row-bike:hover , .category-row-clothes:hover , .category-row-equipments:hover , .category-row-pieces:hover , .category-row-fixing-stuff:hover , .akband:hover , .articles:hover{
    color: black;
}
.category-row-bike-hiding-div{
    background-color: #ffff;
    position: absolute;
    display: none;
    top: 2rem;
    width: 70vh;
    justify-content: space-evenly;
    border: 1px solid #cecece;
    padding: 1rem 0rem;
    text-align: center;

}
.category-row-bike:hover .category-row-bike-hiding-div{
    display: flex;
    z-index: 1;
    flex-direction: row-reverse;

}
.li{
    border-top: 1px solid #cecece;
    padding: 0.3125rem;
    font-size: 0.90rem;
    color: grey;
    text-align: right;
}
.bold-one{
    color: #333333;
    font-size: 0.95rem;
}
.category-row-clothes-hiding-div{
    background-color: #ffff;
    position: absolute;
    display: none;
    z-index: 1;
    width: 30vh;
    justify-content: space-evenly;
    border: 1px solid #cecece;
    text-align: center;
    padding: 1rem 0rem;
}

.category-row-clothes:hover .category-row-clothes-hiding-div{
    display: flex;
    top: 2rem;
}
.category-row-equipments-hiding-div{
    background-color: #ffff;
    position: absolute;
    display: none;
    top: 2rem;
    width: 40vh;
    justify-content: space-evenly;
    border: 1px solid #cecece;
    padding: 1rem 1rem;
    z-index: 1;
}
.category-row-equipments:hover .category-row-equipments-hiding-div{
    display: flex;
    top: 2rem;
}
.category-row-fixing-stuff-hiding-div{
    background-color: #ffff;
    position: absolute;
    display: none;
    top: 2rem;
    width: 40vh;
    justify-content: space-evenly;
    border: 1px solid #cecece;
    padding: 1rem 1rem;
    z-index: 1;
}
.category-row-fixing-stuff:hover .category-row-fixing-stuff-hiding-div{
    display: flex;
    top: 2rem;
}
.category-row-pieces-hiding-div  ul li{
    text-align: right;
}
.category-row-pieces-hiding-div{
    background-color: white;
    position: absolute;
    display:none;
    flex-direction: row;
    top: 2rem;
    right:0rem;
    left: 0rem;
    width: 100vh;
    justify-content: space-evenly;
    border: 1px solid #cecece;
    padding: 1rem 1rem;
    z-index: 2;
}
.category-row-pieces:hover .category-row-pieces-hiding-div{
    display: flex;
    top: 2rem;
}

.ways-to-contact-button{
    background-color:#6DDC00;
    padding: 0rem 1rem;
    text-decoration: none;
    color: white;
    border-radius: 2rem;
    font-size: 2rem;
}
.ways-to-contact{
    background-color: #333333;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    display: inline;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.fixed-in-the-page{
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    bottom: 2rem;
    left: 4rem;
}
/*header ends in here*/
.google-search{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    background-image: url(../images/Third-page/251093737_637498080747849_2027045744446490524_n-500x500.jpg);
    background-position-x: center;
    background-position-y: calc(70rem);
    background-size: cover;
}
.h1{
    flex:0.5;
}
.google-search h1{
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    flex:0.3;
}
.right-arrow-next-to-h1{
    border:1px solid black;
    border-radius:50%;
}
.left-arrow-next-to-h1:hover :nth-child(1){
    fill: green;
}
.left-arrow-next-to-h1:hover{
    stroke: white;
}
.right-arrow-next-to-h1:hover :nth-child(1){
    fill: green;
}
.right-arrow-next-to-h1:hover{
    stroke: white;
}
.left-arrow-next-to-h1{
    margin-right: 1rem;

    box-sizing:border-box;
    border:1px solid black;
    border-radius: 50%;
    transition-property: all;
    transition-duration: 0.1s;
}
/**/
.everything-about-production{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    box-sizing: border-box;
}
.path-shower{
    display: flex;
    flex-direction: row;
    width: 100%;
    direction: rtl;
}
.path-shower a{
    text-decoration: none;
    color: #6DDC00;
    margin-left: 1rem;
    margin-right: 1rem;
}
.path-shower a:hover{
    color: #0693e3;
}
.column-3-part{
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    box-sizing: border-box;
}
.column-3-part > div{
}
.column-3-part-right{
    flex: 0.5;
    padding: 0rem 0rem 0rem 1rem;

}
.column-3-part-center{
    position: relative;
    flex: 1;
}
.column-3-part-left{
    flex: 1;
    padding-right: 1rem;
}
.column-3-part-right h4{
    color: grey;
    margin: 0rem;
    direction: rtl;
}
.like-br{
    width: 2rem;
    height: 1px;
    background-color: grey;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
}
.uncategorized{
    display: flex;
    flex-direction: column;
}
.uncategorized-divs{
    display: flex;
    flex-direction: row-reverse;
    padding: 0.3rem 0rem;
    align-items: center;
    border-top: 1px solid #cecece;
    justify-content: space-between;
}
.uncategorized-green-p{
    color: #333333;
    font-size: 0.8rem;
    transition-property: all;
    transition-duration: 0.2s;
    font-size: 0.9rem;
}
.uncategorized-divs img{
    width: 1.5em;
    height: 1.5rem;
    
}
.uncategorized-green-p:hover{
    color: green;
}
.the-big-pic{
    border-radius: 2rem;
    box-shadow: 2px 2px 10px #cecece;
    box-shadow: -2px -2px 10px #cecece;
}
.row-pics{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.row-pics img{
    width: 6rem;
    height: 6rem;
}
.row-pics img:hover{
    border: 1px solid grey;
}
.offer-red{
    position: absolute;
    top: 1rem;
    right: 2rem;
    border-radius: 50%;
    background-color: red;
    color: white;
    padding: 0.7rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
}
.svg-image{
    text-decoration: none;
    position: absolute;
    top: 28rem;
    right: 2rem;
}
.asfd:hover{
    fill: green;
}
.prices-and-numbers{
    display: flex;
    flex-direction:column;
}
.first{
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    direction: rtl;
    margin-bottom: 2rem;
}
.adding-to-cart{
    display: flex;
    flex-direction: row;
}
.adding-to-cart-button{
    color: white;
    background-color: green;
    padding: 0.5rem 1rem;
}
.adding-to-cart input{
    width: 2rem;
    margin-left: 0.5rem;
}
.adding-to-favorites{
    color: green;
    border: 1px solid green;
    padding: 1rem;
    text-align: center;
    width: 50%;
    margin-top: 5rem;
}
.light-lamp-kind{
    color: grey;
    margin: 1rem 0rem;
    direction: rtl;
}
.twitter-button path{
    transition-property: all;
    transition-duration: 0.2s;
}
.twitter-button path:hover{
    fill: green;
}
.twitter-button{
    display: flex;
    flex-direction: row;
}
.light-green-pics p{
    font-size: 0.7rem;
    direction: rtl;
}
.light-green-pics h4{
    direction: rtl;
}
.light-green-pics{

    display: flex;
    flex-direction: column;
}
.light-green-pics > div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 1rem;
}
.light-green-pics > div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.light-green-pics svg{
    color: #6DDC00;
    width: 5rem;
    height: 5rem;
}
.like-hr{
    width: 100%;
    height: 1px;
    background-color: grey;
    margin: 5rem 0rem;
}
.relavant-products-text{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    align-items: center;
}
.relevant-products-items{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.same-product-pics-and-details{
    width: 14rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
} 
.same-product-pics-and-details img{
    width: 100%;
    border-radius: 2rem;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    
}
.column-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.little-ones{
    color: grey;
    font-size: 0.7rem;
    direction: rtl;
    margin-top: 0.2
    rem;
}
.div-in-details{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.title-detail{
    color: #333333;
    font-size: 0.8rem;
    text-align: right;
    margin: 0.5rem 0rem;
}
.title-detail:hover{
    color: green;
}
.relevant-products-items :nth-child(4){
    position: relative;
}
.green-stars{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.explanations{
    width: 80%;
    margin: 5rem auto 0rem auto;
    border-top:  1px solid grey;
    padding: 1rem 0rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.explanations p{
    margin-top: 1rem;
}
.explanations ul{
    direction: rtl;
    color: grey;
    margin-right: 5rem;
}
.explanations-div{
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
}
.explanations-a{
    margin-left: auto;
    padding: 0.6rem 0.5rem;
    border: 1px solid green;
    color: green;
    margin: auto;

}
.comments{
    width: 80%;
    margin: 5rem auto 0rem auto;
    border-top:  1px solid grey;
    padding: 1rem 0rem;
    align-items: center;
    display: flex;
    flex-direction: column;
 
}
.comments-div{
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;

}
.comments ul{
    direction: rtl;
    color: grey;
    margin-right: 5rem;
    list-style-type: none;
}
.comments ul :nth-child(1){
    color: black;
    
}
.comments ul :nth-child(2){
    margin-bottom: 3rem;
}
.form-in-green-cadre{
    padding: 1rem;
    border: 1px solid green;
}
.form-in-green-cadre p{
    direction: rtl;
}
.form-div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.starlink svg path:hover{
    stroke: orange;
    fill: orange;
}
.starlinktwo:hover .a{
    stroke: orange;
    fill: orange;
}
.starlinkthree:hover .c{
    stroke: orange;
    fill: orange;
}
.starlinkfour:hover .d{
    stroke: orange;
    fill: orange;
}
.starlinkfive:hover .e{
    stroke: orange;
    fill: orange;
}
h6{
    direction: rtl;
}
.empty{
    width: 100%;
    height: 15rem;
    border: 1px solid grey;
    margin-bottom: 1rem;
}
.name-and-email{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.name-and-email > div{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0rem 0.5rem;
}
.checkbox{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 2rem;
    color: grey;
    font-size: 0.8rem;
}
.submit-button{
    padding: 0.5rem 2rem;
    background-color: green;
    color: white;
    font-family: x;
    border: 0rem;
}
.span{
    margin-top: 1rem;
    display: block;
    text-align: right;
}
.the-last-row{
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    margin:auto;
    margin-top: 2rem;
}
.the-last-row img{
    width: 5rem;
    height: 5rem;
}
.the-last-row-right , .the-last-row-center , .the-last-row-left{
    flex: 1;
    display:flex;
    flex-direction: column;
    direction: rtl;
}
.the-last-row-right :nth-child(3) , .the-last-row-right :nth-child(4) , .the-last-row-right :nth-child(5) , .the-last-row-right :nth-child(6) , .the-last-row-right :nth-child(7){
    border-bottom: 0.1rem solid grey;
    padding: 0.5rem 0rem;
}
.the-last-row-center{
    margin: 0rem 1.5rem;
}
.the-last-row-center a{
    text-decoration: none;
}
.the-last-row-left{
}
.narrowline{
    width: 2rem;
    height:0.2rem;
    background-color: #cecece;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.the-last-row-right-details-div{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly; 
}
.the-last-row-right-details-a{
    display: flex;
    text-decoration: none;
    color: #333333;
    font-size: 0.9rem;
}
.supposed-to-be-green{
    transition-property: all;
    transition-duration: 1s;
}
.the-last-row-right-details-div:hover .supposed-to-be-green{
    color: green;
}
.the-last-row-right-header-paragraph{
    color: grey;
}
.about-us-p{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.contact-us-p{
    margin-bottom: 2rem;
}
.about-us-p , .contact-us-p{
    color: green;
    text-decoration:none;
}
.get-aware-of-order-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}
.get-aware-of-order-p{
    margin-right: 0.5rem;
    color: green;
}
.email{
    color: grey;
    margin-bottom: 2rem;
}
.planned-to-be-green{
    transition-property: all;
    transition-duration: 0.2s;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #333333;
}
.planned-to-be-green:hover{
    color: green;
}
.the-last-row-left > div{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0rem;
    font-size: 0.9rem;
}
.the-last-row-left :nth-child(3) , .the-last-row-left :nth-child(4) , .the-last-row-left :nth-child(5) , .the-last-row-left :nth-child(6){
    border-bottom: 0.1rem solid #cecece;
}